<ion-header>
  <ion-toolbar color="cabecera">
    <ion-buttons slot="start">
      <ion-back-button
        color="primary"
        defaultHref="/tabs/en-cierre"
      ></ion-back-button>
    </ion-buttons>
    <ion-title color="primary" style="text-align: center"
      >{{ nombreCliente }}</ion-title
    >
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="todo">
    <div class="pagina1" *ngIf="lista">
      <div
        class="ion-padding"
        *ngFor="let d of data ; let i =index"
        (click)="go(i,d.details)"
        style="border-radius: 4px; margin-bottom: 10px; background: #ffffff"
      >
        <div class="head">
          <div class="uno">
            <div class="titulo">#{{ i + 1 }} · {{ d.title }}</div>
            <div class="total">
              {{ d.eventos }}
              <span *ngIf="d.title == 'Entrega'"> Packing List </span>
              <span *ngIf="d.title == 'Revision'"> Revision</span>
              <span *ngIf="d.title == 'Entrega especial'"> Entregas</span>
              <span *ngIf="d.title == 'Cobro'"> Cobros</span>
              <span *ngIf="d.title == 'Recolección'"> Recolección</span>
            </div>
          </div>
          <div class="dos">
            <ion-icon
              color="primary"
              item-right
              name="arrow-forward"
            ></ion-icon>
          </div>
        </div>
      </div>
    </div>
    <div class="pagina2" *ngIf="checks">
      <div class="contenedor2">
        <div *ngFor="let item of arrayAux; let i =index" class="content">
          <div class="unos">
            <label *ngIf="item.evento == 'Entrega'">
              <span># {{ i + 1 }} ·</span> {{ item.folioDocumento }}</label
            >
            <span *ngIf="item.evento == 'Entrega'"
              >{{ item?.folioProducto?.split(',').length || 0 }} {{
              item?.folioProducto?.split(',').length != 1 ? 'Folios' : 'Folio'
              }}
            </span>
            <ion-list class="unoList" *ngIf="item.evento != 'Entrega'">
              <ion-item-sliding style="padding-right: 0px">
                <ion-item style="border-bottom: none">
                  <label
                    [ngClass]=" codigoValido[i] != null? codigoValido[i]?'itemLabelVerde':'itemLabelRojo':'itemLabel'"
                  >
                    <span># {{ i + 1 }} ·</span> {{ item.folioEvento }}
                  </label>
                </ion-item>

                <ion-item-options style="border-bottom: none; width: 100px">
                  <div class="btnNoRealizado" (click)="noRealizar(i)">
                    <img src="assets/img/imgs/tache_NoRealizada_blanco.svg" />
                  </div>
                  <div class="btnRealizado" (click)="realizar(i)">
                    <img src="assets/img/imgs/paloma_realizada_blanco.svg" />
                  </div>
                </ion-item-options>
              </ion-item-sliding>
            </ion-list>
          </div>
          <ion-list class="dos" *ngIf="item.evento == 'Entrega'">
            <ion-item-sliding
              #item
              *ngFor="let item2 of item.extra; let i2 =index"
              class="content2"
              style="padding-right: 0px"
            >
              <ion-item>
                <ion-label
                  [ngClass]=" codigoValido2[i][i2] != null? codigoValido2[i][i2]?'itemLabelVerde':'itemLabelRojo':'itemLabel'"
                >
                  # {{ i2 + 1 }} · Folio {{ item2.folioProducto || 'N/D' }}
                </ion-label>
              </ion-item>

              <ion-item-options style="border-bottom: none; width: 100px">
                <div class="btnNoRealizado" (click)="noRealizar(i,i2)">
                  <img src="assets/img/imgs/tache_NoRealizada_blanco.svg" />
                </div>
                <div class="btnRealizado" (click)="realizar(i,i2)">
                  <img src="assets/img/imgs/paloma_realizada_blanco.svg" />
                </div>
              </ion-item-options>
            </ion-item-sliding>
          </ion-list>
        </div>
      </div>
      <div class="btn">
        <ion-button expand="full" (click)="receptor()">
          FINALIZAR
        </ion-button>

      </div>
    </div>
  </div>
</ion-content>
