.todo {
  width: 100%;
  height: 100%;
  background: #eceef0;
  overflow-y: auto;
}
.contenedor {
  width: 90%;
  height: 90%;
  margin-left: 20px;
  margin-top: 20px;
}

.head {
  width: 100%;
  display: flex;
  .uno {
    width: 90%;
    .titulo {
      color: #000000;
      font-size: 14px;
    }
    .total {
      color: #008894;
      font-size: 10px;
    }
  }
  .dos {
    width: 10%;
    .arrow {
      margin-top: 8px;
    }
  }
}
