<ion-header>
  <ion-tab-bar color="cabecera">
    <ion-title color="primary">Colectar Elementos</ion-title>
  </ion-tab-bar>
</ion-header>

<ion-content>
  <div class="lst-content">
    <div id="open-modal" class="contenedorElement">
      <div
        class="element"
        *ngFor="let item of arrayAux; let i = index"
        (click)="go(i)"
      >
        <div class="description">
          <div class="name">#{{ i + 1 }}· {{ item.empresa }}</div>
          <div class="subname">
            <div *ngIf="item.eventos == 1">
              {{ item.eventos }} Evento:
              <span class="red">{{ item.inaplasables }}I</span> ·
              <span class="orange">{{ item.urgentes }}U</span> ·
              <span class="green">{{ item.normales }}N</span>
            </div>
            <div *ngIf="item.eventos != 1">
              {{ item.eventos }} Eventos:
              <span class="red">{{ item.inaplasables }}I</span> ·
              <span class="orange">{{ item.urgentes }}U</span> ·
              <span class="green">{{ item.normales }}N</span>
            </div>
          </div>
          <div class="address">
            <span> {{ item.ruta | uppercase }} </span>
          </div>
        </div>
        <div class="arrow">
          <img src="./assets/img/imgs/flecha_ingresar.svg" />
        </div>
      </div>
    </div>
    <div class="total">
      <span> # {{ totalPendientes }} Pendientes</span>
    </div>
  </div>
</ion-content>
