<ion-header>
  <ion-toolbar color="cabecera">
    <ion-buttons style="width: 30px" slot="start">
      <ion-back-button color="primary"></ion-back-button>
    </ion-buttons>
    <ion-title color="primary" style="text-align: center"
      >{{realizados[0].empresa}}
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="todo">
    <div class="contenido">
      <div *ngFor="let item of realizados; let i =index" class="content">
        <div class="unos" (click)="tocarFila(i, item)">
          <label *ngIf="item.evento != 'Entrega'">
            <span># {{ i+1 }} ·</span> {{ item.folioEvento}}</label
          >
          <label *ngIf="item.evento == 'Entrega'">
            <span># {{ i+1 }} ·</span> {{ item.folioDocumento}}</label
          >
          <span
            class="estado-evidencia"
            *ngIf="estadoEvidencia[i]"
            [class.error]="estadoEvidencia[i] === 'ERROR'"
            [class.ok]="estadoEvidencia[i] === 'COMPLETADO'"
            >{{ textoEstado(estadoEvidencia[i]) }}</span
          >
          <div class="imagen" *ngIf="codigoValido[i]">
            <img src="assets/img/imgs2/picture.svg" />
          </div>
          <div class="imagen" *ngIf="!codigoValido[i]">
            <img src="assets/img/imgs/camara.svg" />
          </div>
        </div>
        <div class="dos" *ngIf="item.evento == 'Entrega'">
          <div
            *ngFor="let item2 of item?.folioProducto?.split(','); let i2 =index"
            class="content2"
          >
            <label> <span># {{ i2+1 }} ·</span> Folio {{item2}}</label>
          </div>
        </div>
      </div>
    </div>
    <div class="btn">
      <ion-button expand="full" strong="true" [disabled]="finalizando" (click)="finalizado()">FINALIZAR</ion-button>
    </div>
  </div>
</ion-content>
