<ion-content>
  <ion-router-outlet></ion-router-outlet>
</ion-content>

<div
  class="cola-evidencias"
  *ngIf="resumen.pendientes > 0 || resumen.errores > 0"
  [class.error]="resumen.errores > 0"
  (click)="verEvidencias()"
>
  <ion-spinner *ngIf="resumen.errores === 0" name="crescent"></ion-spinner>
  <ion-icon *ngIf="resumen.errores > 0" name="alert-circle-outline"></ion-icon>
  <span>{{ textoResumen() }}</span>
</div>

<ion-tab-bar slot="bottom" [mode]="'footer'">
  <ion-tab-button
    class="tab-button"
    *ngFor="let tab of tabOptions; trackBy: handleTrackBy"
    tab="{{ tab.id }}"
    (click)="handleSelectedTab(tab.id)"
  >
    <ion-icon
      [src]="tab.selected ? tab.selectedIcon : tab.defaultIcon"
    ></ion-icon>
    <ion-label color="{{ tab.selected ? 'primary' : '' }}">
      {{ tab.name }}</ion-label
    >
  </ion-tab-button>

  <ion-tab-button class="tab-button salir-button" (click)="handleLogout()">
    <ion-icon name="log-out-outline"></ion-icon>
    <ion-label>Salir</ion-label>
  </ion-tab-button>
</ion-tab-bar>
